.traffic-light{
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}
.light{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.light-glow{
    box-shadow: 0px 0px 10px 5px lightyellow;
}
.pole{
    height: 80px;
    width: 10px;

}